* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #dc3545;
  --success-color: #28a745;
  --light-color: #f9f9f9;
  --dark-color: #333;
  --grey-color: #777;
  --padding: 1.25rem;
  --padding-half: 0.625rem;
  --h1-font-size: calc(1.5rem + 0.6vw);
  --h2-font-size: calc(1.3rem + 0.5vw);
  --input-color: #2b2b2b;
  --p-font: 0.85rem;
}
body {
  background-color: var(--light-color);
}
main {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding: var(--padding);
}
/* #menu {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: var(--padding);
} */
section {
  flex: 3;
  margin-left: var(--padding);
  margin-bottom: 50rem;
}
#todoHeader {
  border-bottom: 1px solid #ddd;
  color: var(--dark-color);
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--h1-font-size);
  gap: 2rem;
  padding-bottom: var(--padding-half);
}

.todosContainer {
  background: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: var(--padding-half);
  padding: var(--padding);
  transition: all 0.3s ease-in-out;
}
.todosContainer:hover {
  transform: scale(1.015);
}

.addTask {
  align-items: center;
  background: var(--primary-color);
  border-radius: 5px;
  border: 1px solid var(--input-bg-color);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: var(--p-font);
  font-weight: 500;
  justify-content: center;
  padding: var(--padding-half);
  transition: background 0.3s ease-in-out;
}

.addTask:hover {
  background: #015dc0;
}

#newTask {
  margin-right: 15px;
}

.todoContainer {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: var(--p-font);
  font-weight: 600;
  margin-top: var(--padding-half);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.todoContainer:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.taskSummaryTitle {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.taskBody {
  font-size: var(--p-font);
  font-weight: 300;
  padding: 0.2rem 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--padding-half);
}
.todo {
  font-weight: bold;
}

.taskdate,
.taskcategory,
.taskpriority {
  word-wrap: none;
  white-space: nowrap;
  color: var(--grey-color);
}

/* Responsive design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #menu,
  section {
    margin: 0;
  }
}
